// HEADER //

.header-container {
  padding: 25px 30px 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo img {
  width: 420px;
  box-sizing: border-box;
}

///////////////////////////////////
// SEARCH BAR

.search-bar-container {
  position: relative;
  width: 30rem;
  background: #fedbca30;
  border-radius: 5px;
  border: 1px solid #C68F85;
}

.search-bar-btn, .search-bar-input {
  height: 50px;
  font-family: "Lato", sans-serif;
  border: 0;
  color: #979191d6;
  font-size: 1.3rem;
}

.search-bar-input[type="search"] {
  outline: 0;
  color: #979191d6;
  width: 100%;
  background: #fedbca30;
  padding: 0 1.2rem;
  border-radius: 5px;
  appearance: none;
  transition: all 0.2s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.search-bar-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: #C68F85;
  border-radius: 0 2px 2px 0;
}

.search-bar-input:not(:placeholder-shown) {
  border-radius: 5px 0 0 5px;
  width: calc(100% - 6rem);
  + .search-bar-btn {
    display: block;
  }
}

.search-lupa-icon {
  color: white;
  padding: 0;
  margin: 0;
}

.search-bar-label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

// CART-ICON

.cartbag-img {
  width: 85px;
  opacity: 0.65;
  margin: 0;
  padding: 0;

   &:hover {
    opacity: 1;
   }
}



// DIVIDER

.divider-container {
  display: grid;
  place-items: center;
  margin-bottom: 4px;
}

.nav-divider {
  background-color: #c58e84a7;
  height: 2px;
  width: 65vw;
  border-radius: 90px;
}


// NAV LINKS //

.nav-logo-img {
  width: 45px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-list-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-each-link {
  font-family: 'Metropolis-semi-bold', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  margin: 10px 20px;
  color: #7c7c7c;
  text-decoration: none;
  align-items: center;
  display: inline-block;
  position: relative;


    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: -1px;
      color: #C58E84;
      background-color: #C58E84;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover {
      color: #C58E84;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
}

.nav-cartbag-img {
  width: 70px;
  opacity: 0.65;

    &:hover {
      opacity: 1;
    }
}


// JavaScript animation for popup the nav-links

.js-navDontShow{
  display: none;
}

.js-navShow {
  background-color: #EFEFEF;
  display: flex;
  position: sticky;
  width: 100vw;
  top: 0;
  padding: 10px 25px 5px 20px;
  justify-content: space-between;
  z-index: 10;
  border-bottom: 2px solid #c58e8483;
}



































/////////////////////////////////////////////////////////////////////
// product slide test //

.product-show-full-container {
  display: grid;
  place-items: center;
}

.grid-slide {
  width: 70vw;
  height: 800px;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 120px;
}

.main-img-slide {
  grid-column: 1;
  grid-row: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}

.thumb-small-img {
  height: 120px;
  width: 120px;
  background-position: center;
  background-size: cover;
  grid-row: 2;

    &:hover {
      height: 118px;
      width: 118px;
    }
}

.thumb-slide-horizontal {
  display: flex;
  list-style: none;
  // justify-content: center;
}

.thumb-slide-horizontal li {
  cursor: pointer;
  opacity: 0.40;

    &:hover {
      opacity: 1;
      border: 1px solid;
    }
}



.info {
  grid-column: 2/3;
  grid-row: 1/3;
  display: block;
  width: 100%;
  // display: grid;
  // place-items: center;
}


.active img {
  max-width: 100%;
  max-height: 100%;
}

.slide-img {
  background-size: contain;
  background-position: center;
}



//////////////////////////////////
// js slides

.js-main-img div {
  display: none;
}

.js-main-img div.active {
  display: block;
}

/////////////////////////////////////////
