body, ul, li, dl, ol, html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.container-home-grids {
  width: 100vw;
  height: 35vh;
  // background-color: aqua;
  display: grid;
  place-items: center;
}

.home-grids-div {
  width: 65vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-grids-img-card {
  background-image: url("bag-img.png");
  background-size: cover;
  background-position: center;
}

.home-grids-text-card {
  background-image: url("pattern1.png");
  height: 30vh;
  border: 0.13rem solid #C68F85;
  border-radius: 0 10px 10px 0;
  display: grid;
  justify-items: end;
  opacity: 0.5;
}

.home-grids-text {
  font-family: 'Tourney', cursive;
  font-size: 54px;
  padding-right: 10px;
  color: #bdbdbd;
  text-shadow: 1px 1px black;
  opacity: 1 !important;
}
