
// NAV LINKS //

.nav-logo-img {
  width: 45px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-list-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-each-link {
  font-family: 'Metropolis-semi-bold', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1.4px;
  margin: 10px 20px;
  color: #7c7c7c;
  text-decoration: none;
  align-items: center;
  display: inline-block;
  position: relative;


    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: -1px;
      color: #C58E84;
      background-color: #C58E84;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover {
      color: #C58E84;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
}

.nav-cartbag-img {
  width: 70px;
  opacity: 0.65;

    &:hover {
      opacity: 1;
    }
}


// JavaScript animation for popup the nav-links

.js-navDontShow{
  display: none;
}

.js-navShow {
  background-color: #EFEFEF;
  display: flex;
  position: sticky;
  width: 100vw;
  top: 0;
  padding: 10px 10px 5px 10px;
  justify-content: space-between;
  z-index: 10;
  border-bottom: 2px solid #c58e8483;
}
