
// trending img grid
////////////////
.trending-img-div1 { grid-area: img1; }
.trending-img-div2 { grid-area: img2; }
.trending-img-div3 { grid-area: img3; }
.trending-img-div4 { grid-area: img4; }
.trending-img-div5 { grid-area: img5; }
.trending-img-div6 { grid-area: img6; }


.trending-grid-container {
  display: grid;
  grid-template-areas:
    'img1 img2 img3'
    'img4 img5 img6';
  place-items: center;
  justify-content: center;
  gap: 2px;
}

// .trending-grid-container > div {
//   width: 21vw;
// }

.trending-grid-imgs {
  width: 21vw;
  height: 620px;
  background-position: center;
  background-size: contain;
  // border: 2px solid black;
}
