

<div class="home-second-body-title">
  <div class="divider-container mt-5">
    <span class="nav-divider" style="height: 0.5px; background-color: white"></span>
  </div>
  <h1 class="home-latest-title js-animation">NOVIDADES</h1>
  <div class="divider-container">
      <span class="nav-divider" style="height: 2px; background-color: white"></span>
  </div>
  <p class="home-latest-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam recusandae asperiores.</p>
</div>
