

<section class="d-flex justify-content-between p-4 mt-5 footer-medias-main-container" style="background-color: white">

  <div class="me-5">
    <span style="color: #C58E84" >Get connected with us on social networks:</span>
  </div>

  <div>
    <a href="/" class="me-4" style="color: #C58E84; text-decoration: none">
      <i class="bi bi-facebook"></i>
    </a>
    <a href="/" class="me-4" style="color: #C58E84; text-decoration: none">
      <i class="bi bi-twitter"></i>
    </a>
    <a href="/" class="me-4" style="color: #C58E84; text-decoration: none">
      <i class="bi bi-google"></i>
    </a>
    <a href="/" class="me-4" style="color: #C58E84; text-decoration: none">
      <i class="bi bi-instagram"></i>
    </a>
    <a href="/" class="me-4" style="color: #C58E84; text-decoration: none">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="/" class="me-4" style="color: #C58E84; text-decoration: none">
      <i class="fab fa-github"></i>
    </a>
  </div>

</section>
