

<div class="container-home-grids">
  <div class="home-grids-div">
    <div class="home-grids-img-card">

    </div>
    <div class="home-grids-text-card">
      <h1 class="home-grids-text">monte sua sacola</h1>
      <p class="home-grids-parag">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde labore sequi eaque debitis inventore. Ab porro architecto sequi ratione neque voluptates dolore voluptatibus.</p>
    </div>
  </div>
</div>
