

<section class="sections-container">
  <div class="sections-card">
    <div class="divider-container">
      <span class="nav-divider"></span>
    </div>

    <h1 class="sections-title">YOU</h1>
    <div class="divider-container">
      <span class="nav-divider"></span>
    </div>

    <h1 class="sections-subtitle">MODAS</h1>
    <div class="divider-container mb-3">
      <span class="nav-divider"></span>
    </div>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur dolores nobis harum deserunt quasi, modi iure, ipsum deleniti adipisci, nihil animi. Eius possimus eum acmus mollitia magnam rerum dolorum tenetur?</p>
  </div>
</section>
