

<section class="sections-container">
  <div class="sections-card">
    <div class="divider-container">
      <span class="nav-divider"></span>
    </div>

    <h1 class="sections-title">YOU</h1>
    <div class="divider-container">
      <span class="nav-divider"></span>
    </div>

    <h1 class="sections-subtitle">MODAS</h1>
    <div class="divider-container">
      <span class="nav-divider"></span>
    </div>
  </div>
</section>
