<%= render 'shared/homecarousel' %>

<%= render 'shared/sectiontitle' %>

<%= render 'shared/homebaggrid' %>


<section class="home-second-body">
  <div class="home-second-body-title mt-2">
    <div class="divider-container">
      <span class="nav-divider" style="height: 0.5px; background-color: white"></span>
    </div>
    <h1 class="home-latest-title js-animation">NOVIDADES</h1>
    <div class="divider-container">
      <span class="nav-divider" style="height: 2px; background-color: white"></span>
    </div>
    <p class="home-latest-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam recusandae asperiores iste blanditiis deleniti!</p>
  </div>

  <%# <div class="home-latest-carousel">
  </div> %>
</section>
