<%= render 'shared/homecarousel' %>

<%= render 'shared/sectiontitle' %>

<%= render 'shared/homebaggrid' %>


<section class="home-second-body">
  <div class="home-second-body-title">
    <div class="divider-container mt-5">
      <span class="nav-divider" style="height: 0.5px; background-color: white"></span>
    </div>
    <h1 class="home-latest-title js-animation">NOVIDADES</h1>
    <div class="divider-container">
      <span class="nav-divider" style="height: 2px; background-color: white"></span>
    </div>
    <p class="home-latest-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam recusandae asperiores.</p>
  </div>

  <%= render 'shared/homecardscarousel' %>

  <section class="trending-container">
    <span class="trending-title">#youmodas</span>
    <p class="trending-title-p">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </section>

  <section class="trending-grid-container">
    <div class="trending-img-div1">
      <img src="https://images.unsplash.com/photo-1572112686886-5c0b5bc8dacd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="trending-grid-imgs" alt="">
    </div>

    <div class="trending-img-div2">
      <img src="https://images.unsplash.com/photo-1593409981958-562665d407cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="trending-grid-imgs" alt="">
    </div>

    <div class="trending-img-div3">
      <img src="https://images.unsplash.com/photo-1496440737103-cd596325d314?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="trending-grid-imgs" alt="">
    </div>

    <div class="trending-img-div4">
      <img src="https://images.unsplash.com/photo-1495298599282-d8920eb5009b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="trending-grid-imgs" alt="">
    </div>

    <div class="trending-img-div5">
      <img src="https://images.unsplash.com/photo-1456885284447-7dd4bb8720bf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="trending-grid-imgs" alt="">
    </div>

    <div class="trending-img-div6">
      <img src="https://images.unsplash.com/photo-1512310604669-443f26c35f52?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=868&q=80" class="trending-grid-imgs" alt="">
    </div>

  </section>

  <div class="divider-container" style="margin-top: 100px">
    <span class="nav-divider" style="height: 2px; background-color: white"></span>
  </div>

<%# //////////////////////////////////////// %>

  <section class="d-flex justify-content-between p-4 mt-5" style="background-color: white">
      <!-- Left -->
    <div class="me-5">
      <span style="color: #C58E84" >Get connected with us on social networks:</span>
    </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="/" class="me-4" style="color: #C58E84; text-decoration: none">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="/" class="me-4" style="color: #C58E84; text-decoration: none">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="/" class="me-4" style="color: #C58E84; text-decoration: none">
          <i class="bi bi-google"></i>
        </a>
        <a href="/" class="me-4" style="color: #C58E84; text-decoration: none">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="/" class="me-4" style="color: #C58E84; text-decoration: none">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="/" class="me-4" style="color: #C58E84; text-decoration: none">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>


<%# //////////////////////////////////////////////// %>

  <div class="container-fluid p-0">
    <div class="footer-img-banner">
      <div class="footer-text-div">
        <span class="footer-banner-text">LOREM</span>
      </div>
    </div>
  </div>

</section>
