<%= render 'shared/homecarousel' %>

<%= render 'shared/sectiontitle' %>

<div class="container-home-grids">
  <div class="home-grids-div">
    <div class="home-grids-img-card">

    </div>
    <div class="home-grids-text-card">
      <h1 class="home-grids-text">monte sua sacola</h1>
    </div>
  </div>
</div>
