<%= render 'shared/homecarousel' %>

<%= render 'shared/sectiontitle' %>

<div class="container-home-grids">
  <div class="home-grids-div">
    <div class="home-grids-cards">
      <h1>test</h1>
      <button>Clique</button>
    </div>
    <div class="home-grids-cards">
      <h1>test</h1>
      <button>Clique</button>
    </div>
  </div>
</div>
